backports.weakref==1.0rc1
funcsigs==1.0.2
html5lib==0.9999999
Markdown==2.2.0
mock==2.0.0
numpy==1.13.0
pbr==3.0.1
protobuf==3.3.0
six==1.10.0
tensorflow==2.11.1
Werkzeug==0.15.3
google-cloud-core==0.27.1
google-cloud-storage==1.4.0
