{
  "PROJECT_ID":"ldap-example-yyyy-nn",
  "ORG_NUMBER":"100000000001",
  "USER": "project-owner",
  "DOMAIN": "your-domain-goes-here.com",
  "PRIV_USER": "privileged",
  "PRIV_DOMAIN": "privileged-domain-here.com",
  "BILLING_ACCOUNT": "100000-000000-000001",
  "FOLDER_NUMBER": "100000000001",
  "REGION": "us-west4",
  "RANGE": "10.00.01.0/24",
  "IDLE_TIMEOUT": "30m",
  "ASN_NUMBER": "65531",
  "IMAGE_VERSION": "2.2,
  "BUCKET": "myproject-dataproc-repro-bucket",
  "TEMP_BUCKET": "myproject-dataproc-repro-temp-bucket",
  "CLUSTER_NAME": "cluster-name-here",
  "BIGTABLE_INSTANCE": "my-bigtable"
  "BIGTABLE_DISPLAY_NAME": "my-bigtable-cluster",
  "BIGTABLE_CLUSTER_CONFIG": "null"
}
