{
  "PROJECT_ID":"ldap-example-yyyy-nn",
  "ORG_NUMBER":"100000000001",
  "USER": "project-owner",
  "DOMAIN": "your-domain-goes-here.com",
  "PRIV_USER": "privileged",
  "PRIV_DOMAIN": "privileged-domain-here.com",
  "BILLING_ACCOUNT": "100000-000000-000001",
  "FOLDER_NUMBER": "100000000001",
  "REGION": "us-west4",
  "ZONE": "us-west4-a",
  "RANGE": "10.0.1.0/24",
  "IDLE_TIMEOUT": "30m",
  "ASN_NUMBER": "65531",
  "IMAGE_VERSION": "2.2",
  "CUSTOM_IMAGE_URI": "projects/your-project/global/images/your-custom-image",
  "BUCKET": "myproject-dataproc-repro-bucket",
  "TEMP_BUCKET": "myproject-dataproc-repro-temp-bucket",
  "CLUSTER_NAME": "cluster-name-here",
  "BIGTABLE_INSTANCE": "my-bigtable",
  "BIGTABLE_DISPLAY_NAME": "my-bigtable-cluster",
  "BIGTABLE_CLUSTER_CONFIG": "null",
  "PRIVATE_RANGE": "10.0.2.0/24",
  "SWP_RANGE": "10.0.3.0/24",
  "SWP_HOSTNAME": "swp.internal.local",
  "SWP_IP": "10.0.2.245",
  "SWP_PORT": 3128,
  "CI_PROJECT_ID": "your-ci-test-project-id",
  "CI_GCP_CREDENTIALS_PATH": "/path/to/your/ci-service-account.json",
  "CI_CSR_REPO_NAME": "your-cloud-source-repo",
  "CI_CSR_REGION": "us-central1",
  "CI_GITHUB_CONNECTION_NAME": "github-connection",
  "CI_TRIGGER_BRANCH": "main",
  "CI_REPO_OWNER": "your-github-username",
  "CI_BYOSA_EMAIL": "your-byosa-email@your-ci-test-project-id.iam.gserviceaccount.com"
}
